<strong>Olá, {{ deliveryman }} </strong>

<p>Uma encomenda acaba de ser atribuida à você! Confira os detalhes:</p>

<strong>Destinatário: </strong>{{ recipient }} <br />
<strong>Produto: </strong>{{ product }} <br />
<br />
<small>Esta encomenda já está disponível para retirada, você pode retirar ela de Seg à Sex <br />
das <strong>08:00AM</strong> às <strong>06:00PM</strong>! Obrigado!</small>
<br />
